  <% include ../header.ejs %>
    <% include ../navbar.ejs %>
  <% include ../sidebar.ejs %>

  <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="/admin/provider">Back</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">

                        <div class="card">

                            <div class="card-body">
                                     <h4 class="card-title"> Add Provider </h4>
                                <div class="form-validation">
                                    <form class="form-valide" action="/admin/add_provider" method="post" name="myForm"  onsubmit="return validateForm()" enctype="multipart/form-data">

                                        <!-- <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-providername">Services <span class="text-danger">*</span>
                                            </label> -->
                                            <!-- <div class="col-lg-6">
                                               <select class="form-control" name="category_id">
                                                   <option value="">Please Select Services</option>
                                                   <%   for( var i in response){ %>
                                                   <option value="<%=response[i].id %>"><%=response[i].name %></option>

                                                   <% } %>
                                               </select>
                                            </div>

                                             <button type="submit" id="more" class="btn btn-info">Add More Service</button> -->
                                        <!-- </div> -->

                                        <!-- <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-email">Price <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="number" class="form-control" id="val-email" name="price" placeholder="Price" required>
                                            </div>
                                        </div> -->

                                        <div class ="multicategory">

                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">First Name <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="firstName"  name="firstName" placeholder="Enter a Name.."  onkeyup="validateForm()">
                                                <span id="p1" style="display: none;color:#ff5e5e;width: 100%;margin-top: 0.25rem;font-size: 80%;">This field is required.</span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label">Last Name <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="lastName"  name="lastName" placeholder="Enter a last Name.." onkeyup="validateForm()">
                                                <span id="p2" style="display: none;color:#ff5e5e;width: 100%;margin-top: 0.25rem;font-size: 80%;">This field is required.</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-email">Email <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="email" class="form-control"  name="email" placeholder="Your valid email.." required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-password">Password <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="password" class="form-control" id="val-password" name="password" placeholder="Choose a safe one.." required>
                                            </div>
                                        </div>



                                         <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-password">Phone <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="number" class="form-control" id="val-password" minlength="10" maxlength="16" name="phone" placeholder="Phone" required>
                                            </div>
                                        </div>

                                        
                                      
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-suggestions">Image <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type ="file" class="form-control" name="image" accept="image/*" onchange="previewImage(event)" required>


                                            </div>
                                             <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" height="50" id="image_view">
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-suggestions">Licence <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type ="file" class="form-control" name="business_licence" accept="image/*" onchange="previewImageLicence(event)" required>


                                            </div>
                                             <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" height="50" id="image_view_Licence">
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-suggestions">Insurance <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type ="file" class="form-control" name="insurance" accept="image/*" onchange="previewImageInsurance(event)" required>


                                            </div>
                                             <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" height="50" id="image_view_Insurance">
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label" for="val-suggestions">Resume <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <input type ="file" class="form-control" name="resume" id="resume" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"   onChange="onChangeFunction(event);" required>


                                            </div>
                                            
                                        </div>
                                     
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

          <% include ../footer.ejs %>
          <script>
            function validateForm() {
              var first_name = document.forms["myForm"]["firstName"].value;
              var last_name = document.forms["myForm"]["lastName"].value;
              var password = document.forms["myForm"]["password"].value;
            
              if (!first_name.replace(/\s/g, '').length) {
                document.getElementById("p1").style.display = "block";
                return false;
              }else{
                document.getElementById("p1").style.display = "none";
              }

              if (!last_name.replace(/\s/g, '').length) {
                document.getElementById("p2").style.display = "block";
                return false;
              }else{
                document.getElementById("p2").style.display = "none";
              }

              if (!password.replace(/\s/g, '').length) {
                document.getElementById("p3").style.display = "block";
                return false;
              }else{
                document.getElementById("p3").style.display = "none";
              }
            }

         
           function  onChangeFunction(event) {
                let fileList = event.target.files;
                let file = fileList[0];
                let extension = file.name.match(/(?<=\.)\w+$/g)[0].toLowerCase(); // assuming that this file has any extension

                if (extension === 'pdf' || extension ==='docx' || extension==='doc') {
                    // alert('Good file extension!');
                }
                else {
                    event.target.value = '';
                    alert('Wrong file extension! File input is cleared (pdf,docx,doc).');
                }
            }
        </script>