<!DOCTYPE html>
<html lang="en">
   <head>
      <title>valeyou</title>
      <meta charset="UTF-8">
      <meta name="description" content="">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="img/core-img/favicon.ico">
      <!-- Core Stylesheet -->  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Core Stylesheet -->
      <link rel="stylesheet" href="css/fontawesome.min.css">
     
      <!-- bootstarp 4 cdn -->
      <link rel="stylesheet" href="css/bootstrap.css">
      <!-- Responsive Stylesheet -->
      <link rel="stylesheet" href="css/responsive.css">

          <link rel="stylesheet" href="css/style.css">
     
   </head>

   <body>
      
      <div class="container pt-90">
         <div class="row">
            
            <div class="col-lg-12 logo">
               <div class="logo text-center" >
               <img src="images/Valeyou_logo1.png"></div>

               <div class="content div pt-60 col-lg-10 offset-lg-1">
                  <div class="row">
                  <div class="col-lg-2 hero">
                        <img src="images/hero-img1.png">
                  </div>
              <div class="col-lg-6 offset-lg-4">
                  <div class="hero-text">
                        <h2>Maria Williams</h2>
                        <p>I’m a digital designer in love with photography, painting and discovering new worlds and cultures.</p>
                  </div>
                     <div class="hero-info">
                     <h2>General Info</h2>
                           <ul>
                           <li><span>First Name </span>Maria </li>
                           <li><span>Last  Name </span>Williams </li>
                           <li><span>E-mail</span>mariawilliams@company.com</li>
                           <li class="rating"><span>Rating</span><i class="fa fa-star" aria-hidden="true"></i>
                              <i class="fa fa-star" aria-hidden="true"></i>
                           <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                     <i class="fa fa-star" aria-hidden="true"></i></li>
                           <li><span>State</span>California</li>
                           <li><span>City</span>California</li>
                           <li><span>Zipcode</span>93504-93505</li>
                           <li><span>Country</span>United States</li>
                           <li><span>Description</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit hendrerit lectus, sit amet molestie diam laoreet at.?</li>
                           <li><span>Address</span>260-C North El Camino Real,California,United States</li>
                           <li><span>Total Jobs </span>44343</li>
                           </ul>
                      </div>
                       <div class="hero-info">
                     <h2>Provider Categories </h2>

                     <h3>Lifestyle</h3>
                           <ul class="lify">
                           <li class="cat"><span class="men">Men </span><span>Dress</span></li>
                              
                              <li class="cat"><span class="men">WoMen </span><span>Dress</span></li>

                          
                        </ul>
                      </div>
                  </div>
               </div>
            </div>
            <div class="container pt-40 pb-40">
               <div class="row">
                 <div class="col-lg-2 offset-lg-4 google"><img src="images/google1.png"></div>
                   <div class="col-lg-2 google"><img src="images/apple1.png"></div>
                </div>
            </div>
         </div>
   </body>